# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
storage/logs/

# macOS
.DS_Store

# IDE settings
.vscode/
.idea/

# Database or sensitive files
*.sql
.env